.header {
  display: flex;
  height: 120px;
}

.header h1 {
  flex-grow: 1;
  font-family: 'GroovyScript';
  font-weight: 300;
  font-size: 5rem;
  margin: 33px 0 0 95px;
  position: relative;
  z-index: 1;
}

.header h1 a {
  color: rgb(243, 155, 55);
}

.header nav {
  align-items: flex-end;
  display: flex;
  padding-right: 40px;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav li {
  font-family: 'Quicksand';
  font-size: 1.5rem;
  margin: 0 5px;
}

.nav li:not(:last-child):after {
  content: " /";
}

.nav .active {
  border-bottom: 1px solid;
  border-bottom-color: rgb(204, 132, 0);
}

.nav a:hover {
  border-bottom: 1px solid;
  border-bottom-color: rgb(255, 200, 98);
}

@media (max-width: 600px) {
}
