.poster {
  position: relative;
}

.poster picture {
  display: flex;
}

.poster h3 {
  color: #ffffff;
  font-family: Quicksand;
  font-size: 2.3rem;
  font-weight: 100;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  transition-duration: 200ms;
  width: 100%;
  z-index: 1;
}

.poster h3:hover {
  cursor: pointer;
  letter-spacing: 1px;
}

.poster h3:hover + picture img {
  opacity: 1;
}

.poster h3 span {
  position: relative;
}

/* .poster h3 span:before { */
/*   content: ""; */
/*   position: absolute; */
/*   display: block; */
/*   width: 100%; */
/*   height: 2px; */
/*   bottom: 0; */
/*   left: 0; */
/*   background-color: #ffffff; */
/*   transform: scaleX(0); */
/*   transition: transform 0.3s ease; */
/* } */
/*  */
/* .poster h3 span:hover:before { */
/*   transform: scaleX(1); */
/* } */

.poster img {
  opacity: .6;
  transition-duration: 200ms;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  text-align: center;
}

.credits {
  font-size: 1.2rem;
  margin: 1px 0;
}

.closeButton {
  background: none;
  border: none;
  color: #FFFFFF;
  font-family: 'Quicksand';
  font-size: 2rem;
  position: relative;
  right: 20px;
  top: 20px;
  user-select: none;
}

.closeButton:hover {
  cursor: pointer;
}

.modalContent {
  align-items: center;
  background: #000000;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand';
  padding-bottom: 35px;
}

.modalTop {
  align-items: center;
  display: flex;
  display: flex;
  height: 125px;
  justify-content: flex-end;
  padding-right: 70px;
}

.modalBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1150px;
}

@media (max-width: 1480px) {
}

@media (max-width: 1200px) {
  .poster h3 {
    font-size: 2rem;
  }

  .poster img {
    height: 100vh;
    left: 50%;
    object-fit: cover;
    position: relative;
    transform: translate(-50%, 0);
    width: 100%;
  }

  .credits {
    font-size: 1rem;
  }

  .modalBottom {
    width: 95%;
  }

  .title {
    font-size: 1.1rem;
  }

  .credits {
    font-size: 1rem;
  }
}
