.header {
  display: flex;
  flex-direction: row;
  height: 125px;
  position: fixed;
  transition-duration: 500ms;
  width: 100%;
  z-index: 10;
}

.header h1 {
  margin: 20px;
}

.left {
  flex-grow: 1;
}

@media (max-width: 800px) {
  .header {
    height: 100px;
  }

  .header h1 {
    display: none;
  }

  .right {
    width: 100px;
  }
}
