.logo {
  display: flex;
  margin-right: 10px;
}

.chevron {
  clip-path: polygon(3px 5px, 134px 28px, 71px 54px, 3px 41px);
  height: 45px;
  overflow: hidden;
  position: relative;
  transform: rotate(-10deg);
  transition-duration: 200ms;
  width: 15px;
}

.chevron:first-child {
  background: rgb(55,90,83);

}

.chevron:nth-child(2) {
  background: rgb(185,113,57);
}

.chevron:nth-child(3) {
  background: rgb(113,85,58);
}

.chevron:last-child {
  background: rgb(101,107,76);
}
