.brand {
  font-size: 2em;
  letter-spacing: 5px;
  margin: 0;
}

.title {
  font-size: 1.5em;
  margin: 0 0 10px;
}

.data {
  font-size: 1em;
  margin-bottom: 5px;
}

@media (max-width: 800px) {
  .brand {
    font-size: 1.5em;
  }

  .title {
    font-size: 1.3em;
  }

  .data {
    font-size: 1em;
    margin-bottom: 5px;
  }
}

@media (max-width: 600px) {
  .brand {
    font-size: 1.2rem;
  }

  .title {
    display: none;
  }

  .data {
    display: none;
  }
}
