.video {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.videojs > div {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.videojs > div:hover {
  cursor: pointer;
}

.videojs > div > video {
  object-fit: cover;
  position: relative!important;
}

.video-js.vjs-playing .vjs-big-play-button {
  display: none!important;
  opacity: 0;
}

.video-js.vjs-playing .vjs-control-bar,
.video-js.vjs-paused .vjs-control-bar {
  opacity: 0;
}

.video-js.vjs-playing:hover .vjs-control-bar {
  opacity: 1;
}

.video-js .vjs-big-play-button {
  background-color: rgba(66, 66, 66, 0.25);
  border: none;
  border-radius: 40px;
  display: flex;
  height: 60px!important;
  left: 50%!important;
  margin-left: -20px;
  margin-top: -20px;
  opacity: 1;
  top: 50%!important;
  transition-duration: 200ms!important;
  width: 60px!important;
}

.video-js:hover .vjs-big-play-button {
  background-color: rgba(66, 66, 66, 0.5);
}

.video-js .vjs-big-play-button .vjs-icon-placeholder {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 60px;
}

.vjs-poster {
  background-size: cover;
  filter: blur(5px);
  transition-duration: 500ms;
}

.videojs.posterLoaded .vjs-poster {
  filter: blur(0px);
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  height: 45px!important;
  position: initial!important;
}

.siteTitle {
  color: #f49217;
  font-family: 'GroovyScript';
  font-weight: 300;
  font-size: 5rem;
  left: 30px;
  margin-bottom: 0;
  margin-left: 80px;
  opacity: .4;
  position: absolute;
}

.video img {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.video .meta {
  -webkit-font-smoothing: auto;
  bottom: 40px;
  color: #ffffff;
  display: flex;
  flex-grow: 1;
  font-family: 'Montserrat';
  justify-content: flex-end;
  opacity: 0;
  position: absolute;
  transition-duration: 200ms;
  width: 400px;
}

/* .video .meta.visible { */
/*   opacity: 1; */
/* } */

.video:not(.isPlaying):hover .meta {
  opacity: 1;
}

.left {
  flex-grow: 1;
  margin-top: 40px;
}

.left {
  font-family: 'Quicksand';
  padding-left: 50px;
}

@media (max-width: 800px) {
  .left {
    padding-left: 30px;
  }

  .video .meta {
    bottom: 25px;
  }
}

@media (max-width: 600px) {
  .siteTitle {
    display: none;
  }

  .video .meta {
    bottom: 15px;
  }

  .video:not(.isPlaying) .meta {
    opacity: 1;
  }

  .left {
    margin-top: 15px;
  }

  .left {
    padding-left: 20px;
  }
}
