.video img {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.video .closeWrapper {
  display: flex;
  justify-content: flex-end;
}

.video .close:hover {
  cursor: pointer;
}

.video .close {
  background: none;
  border: none;
  font-size: 40px;
}
