.video {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.siteTitle {
  color: #f49217;
  font-family: 'GroovyScript';
  font-weight: 300;
  font-size: 5rem;
  left: 30px;
  margin-bottom: 0;
  margin-left: 80px;
  opacity: .4;
  position: absolute;
}

.wrapper {
  max-width: 1500px;
  position: relative;
  width: 100%;
}

.video video {
  max-width: 1500px;
}

.video img {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.video .closeWrapper {
  -webkit-font-smoothing: auto;
  color: rgb(57,57,57);
  display: flex;
  flex-grow: 1;
  font-family: 'Montserrat';
  justify-content: flex-end;
  max-width: 1500px;
  width: 100%;
}

.video .close:hover {
  cursor: pointer;
}

.video .close {
  background: none;
  border: none;
  color: rgb(57,57,57);
  font-family: 'Montserrat';
  font-size: 40px;
  margin-right: 20px;
}

.left, .middle, .right {
  flex-grow: 1;
  margin-top: 40px;
}

.left {
  padding-left: 50px;
  text-transform: uppercase;
}

.right {
  text-align: right;
}

.left h2 {
  padding-right: 50px;
}

.brand {
  letter-spacing: 5px;
  margin: 0 0 10px;;
}

.title {
  margin: 0;
}

.data {
  font-size: 13px;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .siteTitle {
    display: none;
  }

  .left, .middle, .right {
    margin-top: 15px;
  }

  .left {
    padding-left: 20px;
  }

  .brand {
    font-size: 1.2rem;
  }

  .title {
    font-size: 1rem;
  }
}
