.carouselWrapper {
  height: 566px;
  width: 100%;
}

.controls {
  color: #8f7819;
  display: flex;
  font-size: 3em;
  justify-content: space-between;
}

.button:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .controls {
    display: none;
  }
}
