.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.wrapper .background {
  background-image: url('/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity: .1;
  position: absolute;
  width: 100%;
}

.wrapper .group {
  margin-bottom: 150px;
  margin-left: 40px;
  position: relative;
  z-index: 1;
}

.title {
  color: rgb(246,147,23);
  font-family: 'GroovyScript';
  font-weight: 300;
  font-size: 7rem;
  margin: 0;
}

.wrapper .blurb {
  font-family: 'Montserrat-ExtraLight';
  font-size: 1rem;
  left: 20px;
  position: relative;
  top: -15px;
}

.wrapper a {
  font-family: 'Montserrat-ExtraLight';
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* .title { */
/*   color: #f49217; */
/*   font-family: 'GroovyScript'; */
/*   font-weight: 300; */
/*   font-size: 5rem; */
/*   margin: 20px 0 0 80px; */
/* } */

.heading {
  color: #f49217;
  font-family: 'GroovyScript';
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 0;
}

.section {
  margin: 0 80px;
}

@media (max-width: 600px) {
  .title {
    font-size: 4.5rem;
  }

  .wrapper .group {
    margin-left: 60px;
  }

.wrapper .blurb {
  left: -25px;
  top: 30px;
}

  .section {
    margin: 0 25px;
  }

  .heading {
    font-size: 2.5rem;
  }
}
